@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Knewave');

/* stylelint-disable */
@tailwind preflight;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

:root {
  --black: #111;
  --yellow: #eaff6d;
}

#breakfast-status-bar {
  z-index: 1;
}

html::before,
html::after,
body::before,
body::after {
  content: '';
  position: absolute;
  background-color: var(--black);
}

html::before,
html::after {
  width: 20px;
  height: 100vh;
  top: 0;
  left: 0;
}

html::after {
  right: 0;
  left: auto;
}

body::before,
body::after {
  width: 100vw;
  height: 20px;
  top: 0;
  left: 0;
}

body::after {
  top: auto;
  bottom: 0;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-pixel {
  transform: rotate(-15deg);
}

.post,
.pixel {
  display: block;
  position: relative;
  z-index: 3;
  top: 0;
  left: 0;
  font: 900 124px/0.83 'Montserrat';
  color: var(--black);
  text-transform: uppercase;
}

.post::after,
.pixel::after {
  position: absolute;
  z-index: -2;
  top: 10px;
  left: 10px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.post::after {
  content: 'Post-';
}

.pixel::after {
  content: 'Pixel';
}

.post span,
.pixel span {
  height: 24px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-color: var(--yellow);
  opacity: 0.53;
}

.post {
  span {
    width: 88%;
    transform: rotate(2deg);
  }
}

.pixel span {
  width: 100%;
  transform: rotate(-2deg);
}

.tag {
  display: block;
  margin: 10px 0 0 50px;
  font: 30px/1.1 'Knewave';
  text-transform: uppercase;
}

.logo {
  width: 70px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}
