<div class="heading">
  <div class="post-pixel">
    <span class="post">
      Post-<span></span>
    </span>
    <span class="pixel">
      Pixel<span></span>
    </span>
    <p class="tag">
      An Interactive<br> Art Showcase
    </p>
  </div>

  <img class="logo" src="<%= asset_pack_path "images/lagd.svg" %>" alt="LAGD">
</div>
